*/.ipynb_checkpoints/*.ipynb
Datasets/analisisHVAC.xlsx
*.dot
*.png
AprendizajeConReglasDeAsociacion/*.py
AprendizajeConReglasDeAsociacion/*.txt
AprendizajeConReglasDeAsociacion/*.md
AprendizajeConReglasDeAsociacion/*.cfg
AprendizajeConReglasDeAsociacion/PKG-INFO
AprendizajeConReglasDeAsociacion/build
AprendizajeConReglasDeAsociacion/dist
AprendizajeConReglasDeAsociacion/ef*
*.pyc
